body {
  margin: 0;
  border-color: #8c735cb7;
  background-color: black;
  font-family: "Gowun Batang", serif;
}

h1, h2 {
  font-family: "Playfair Display", serif;
  
}

nav {
  display: flex;
  background-color: #2e0d03;
  text-align: center;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 75px;
  justify-content: center;
  top: 0;
  padding: 22px 0;
  box-shadow: 0 4px 8px rgba(250, 250, 250, 0.521);
  
}

.menu {
  display: flex;
  justify-content: center; /* Centra el contenido del menú horizontalmente */
  background-color: #ababab00;
  align-items: center;
  width: 100;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  color: #413131;
}

.menu li {
  padding: 0%;
  color: #ff000000;
  
}

.menu a {
  color: rgba(255, 0, 0, 0);
  text-decoration: solid;
  font-weight: bold;
  color: #ffffff;
  font-size: 1.2em;
}

.menu a:hover {
  text-decoration: underline;
  color: rgb(156, 218, 247);
}

  /*formulario*/

  #div-formulario{
    padding-top: 100px;
    padding-bottom: -5px;
  }
  
    /*formulario*/

  .formulario {
    z-index: 1;
    width: 50%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 8px 10px rgba(139, 139, 139, 0.242);
    transform: translate(48%,-5%)
  }
  
  .form {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  }
  
  .form-group {
    width: calc(55% - 10px);
  }
  
  .full-width {
    width: 53.7%;
  }
  
  label {
    display: block;
    margin-bottom: 2px;
    font-size: 17px;
    color: #000000;
  }
  
  input[type="email"],
  input[type="text"],
  textarea {
    width: 180%;
    padding: 12px;
    border: 1px solid #a3a2a28a;
    border-radius: 5px;
    background-color: #ffffff;
  }
  
  textarea {
    height: 60px;
    resize: none;
  }
  
  input[type="checkbox"] {
    margin-right: 4px;
  }
  
  .btn {
    width: 100%;
    padding: 10px;
    background-color: #2e0d03e8;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btn:hover {
    background-color: #515151;
  }
  
    /* VIDEO GRANOS DE CAFE */
  
  #contenedor-video {
    display: flex;
    flex-direction: column;
    position: flex;
    width: 100%;
    overflow: visible;
    height: 200px;
    z-index: -1;
    object-fit: cover
  }
    
  /* FOOTER */

  footer {
    align-items: center;
    background-color: #2e0d03;
    text-align: center;
    padding: 75px;
    color: #ffffff;
  }
  
  .boton-social{
    width: auto;
  }
  
  
  .footer-contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    padding: 1px;
    text-align: left;
  }
  
  
  .logo-footer {
    padding-top: 140px;
    border-radius: 50px;
    transition: transform 0.3s;
    scale: 1;
  }
  
  .texto-copy{
    padding-top: 170px;
  }
  
  .redes-footer {
    padding-top: 170px;
    border-radius: 50px;
    transition: transform 0.3s;
    scale: 1;
    text-align: right;
  }
  

  @media screen and (max-width: 600px) {
    .logo {
      display: none;
    }
  
    .texto-copy{
      display: none;
    }

    footer{
      padding: 10px;
    }
  
    .menu a {
      font-size: 1em;
      padding: 4px 20px;
    }

    #contenedor-video{
      display: none;
    }

    #div-formulario {
      padding-top: 200px;
    }

    .formulario{
      transform: translate(39%, -5%);
    }
  }


  @media (min-width: 700px) and (max-width: 1000px) {

    #div-formulario {
      padding-top: 200px;
    }

    .formulario{
      transform: translate(48%, -5%);
    }

    footer{
      padding: 9%;
    }

    #contenedor-video{
      display: none;
    }

    .menu a {
      font-size: 1em;
      padding: 4px 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    footer{
      padding: 9%;
    }
    .menu a{
      padding: 4px 49px
    }
  }

  @media screen and (min-width: 1001px){
    .menu a{
      padding: 4px 49px
    }
  }