body {
  margin: 0;
  border-color: #8c735cb7;
  background-color: black;
  font-family: "Gowun Batang", serif;
}

h1, h2 {
  font-family: "Playfair Display", serif;
  
}

nav {
  display: flex;
  background-color: #2e0d03;
  text-align: center;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 75px;
  justify-content: center;
  top: 0;
  padding: 20px 0;
  box-shadow: 0 4px 8px rgba(250, 250, 250, 0.521);
  
}

.menu {
  display: flex;
  justify-content: center; /* Centra el contenido del menú horizontalmente */
  background-color: #ababab00;
  align-items: center;
  width: 100;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  color: #413131;
}

.menu li {
  padding: 0 45px;
  color: #ff000000;
  
}

.menu a {
  color: rgba(255, 0, 0, 0);
  text-decoration: solid;
  font-weight: bold;
  color: #ffffff;
  font-size: 1.2em;
}

.menu a:hover {
  text-decoration: underline;
  color: rgb(156, 218, 247);
}

  /*formulario*/

  #div-formulario{
    padding-top: 115px;
    padding-bottom: 54px;
  }
  
  .formulario {
    position: absolute;
    text-align: center; 
    width: 50%;
    background: rgb(255, 255, 255);
    color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(144, 144, 144);
    margin: 0 auto;
    z-index: 900;
    transform: translate(50%,-230%)
  }

  label{
    color: rgb(0, 0, 0);
  }

  button{
    color: rgb(0, 0, 0);
  }
  

  /* VIDEO GRANOS DE CAFE */

  #contenedor-video {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    overflow: visible;

    object-fit: cover
  }
  
  /* FOOTER */

footer {
  background-color: #2e0d03e8;
  text-align: center;
  padding: 20px;
  color: #ffffff;
  
}
