body {
    margin: 0;
    border-color: #8c735cb7;
    background-color: #2e0d03e6;
  }
  
  nav {
    display: flex;
    background-color: #2e0d03e8;
    text-align: center;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 75px;
    justify-content: center;
    top: 0;
    padding: 20px 0;
  }
  
  nav a{
    flex-grow: 1;
    text-align: center;
    padding: 10px;
    font-size: 1.2em;

  }
  
  .menu {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100;
  }
  
  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    color: #413131;
    align-items: center;
    width: 100%;
  }
  
  .menu li {
    padding: 0 82.5px;
    color: #ff000000;
    
  }
  
  .menu a {
    color: rgba(255, 0, 0, 0);
    text-decoration: solid;
    font-weight: bold;
    color: #ffffff;
    font-size: 1.2em;
  }
  
  .menu a:hover {
    text-decoration: underline;
    color: rgb(19, 108, 150);
  }

  h2{
    font-size: 3em;
    color: #265faa;
  }
  
  #nuestros-favoritos {
    padding-top: 70px;
  }
  
  .Productosfavoritos {
    display: grid;
    grid-template-columns: repeat(3 , minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    text-align: center;
    
  }
  
  .producto-imagen {
    max-width: 85%;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.618);
  
  }
  
  .producto h3 {
    margin: 10px 0 5px;
    font-size: 2em;
    color: #265faa;
  }
  
  .producto p {
    color: #fcf9f9;
    font-size: 2em;
  }
  
  a {
    font-size: 1.2em;
    padding: 50px;
  }