body {
    margin: 0;
    border-color: #8c735cb7;
    background-color: #000000;
    font-family: "Gowun Batang", serif;
  }
  
  h1, h2 {
    font-family: "Playfair Display", serif;
    
  }
  
  nav {
    display: flex;
    background-color: #2e0d03;
    text-align: center;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 75px;
    justify-content: center;
    top: 0;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(250, 250, 250, 0.521);
    
  }
  
  .menu {
    display: flex;
    justify-content: center; /* Centra el contenido del menú horizontalmente */
    background-color: #ababab00;
    align-items: center;
    width: 100;
  }
  
  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    color: #413131;
  }
  
  .menu li {
    padding: 0 0px;
    color: #ff000000;
    
  }
  
  .menu a {
    color: rgba(255, 0, 0, 0);
    text-decoration: solid;
    font-weight: bold;
    color: #ffffff;
    font-size: 1.2em;
  }
  
  .menu a:hover {
    text-decoration: underline;
    color: rgb(156, 218, 247);
  }

  /* PRODUCTOS */

  h2{
    font-size: 2em;
    color: #4381d1;
  }

  #nuestros-favoritos {
    padding-top: 150px;
  }
  
  .Productosfavoritos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    text-align: center;
    
  }
  
  .producto-imagen {
    max-width: 85%;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(95, 95, 95, 0.618);
  
  }
  
  .producto h3 {
    margin: 10px 0 5px;
    font-size: 1.5em;
    color: #eb8ee6;
  }
  
  .productos h3 {
    margin: 10px 0 5px;
    font-size: 2em;
    color: #eb8ee6;
  }
  
  
  .producto p {
    color: #fcf9f9;
    font-size: 2em;
  }
  
  a {
    font-size: 1.2em;
    padding: 50px;
    color: #ffffff;
  }

  /* FOOTER */

footer {
    background-color: #2e0d03;
    text-align: center;
    padding: 20px;
    color: #ffffff;
    
  }