body {
  margin: 0;
}


.menu {
  position: fixed;
  top: 47px;
  width: 40%;
  background-color: rgba(255, 0, 0, 0);
  z-index: 2;
  padding: 10px;
  text-align: left;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.menu li {
  margin: 0 25px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.menu a:hover {
  text-decoration: solid;
  color: rgb(255, 124, 124);
}

#contenedor {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.video-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.content {
  position: relative;
  z-index: 1;
  color: rgb(255, 124, 124);
  text-align: center;
  padding: 30px;
}

sub {
  text-align: center;
  background-color: rgba(108, 108, 108, 0);
  padding: 10px;
}

main {
  display: flex;
  flex: 1;
  padding: 10px;
  gap: 10px;
  justify-content: space-around;
  flex-wrap: wrap; 
}

article {
  text-align: left;
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ddd;
  margin: 10px;
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
}

footer {
  padding: 10px;
  background-color: #ccc;
  text-align: center;
}
